## <b>San Antonio Universities for Students Who donâ€™t Own a Vehicle</b>
### Adam Andre, April 10, 2020

<b>1. Introduction</b>

Which university in the San Antonio area have the most amenities within walking distance? I would have to leverage the Foursquare location data in a small radius around each campus. Answering this question can help potential students (stakeholders) who are planning on living on campus who do not have a vehicle choose a school.

<b>2. Data</b>

I will be utilizing a data set I put together containing eight San Antonio universities, their latitudes and longitudes, and their address. I will use this data set in combination with the Foursquare API to determine how many restaurants, grocery stores, parks, shops, and bus stations are within walking distance of each university. I will determine a weighted score for each category and determine which university is best for students living on campus without a vehicle.

In [4]:
import pandas as pd
import numpy as np
import requests

In [5]:
df_uni = pd.read_csv('SATXUniversities.csv')

In [6]:
df_uni

,University,Latitude,Longitude,Address
0,The University of Texas at San Antonio,29.584057,-98.626059,"1 UTSA Circle, San Antonio, TX 78249"
1,Trinity University,29.463490,-98.481873,"1 Trinity Pl, San Antonio, TX 78212"
2,Texas Lutheran University,29.569571,-97.984154,"1000 W Court St, Seguin, TX 78155"
3,St. Mary's University,29.453159,-98.562637,"1 Camino Santa Maria, San Antonio, TX 78228"
4,Our Lady of the Lake University,29.426729,-98.544159,"411 SW 24th St, San Antonio, TX 78207"
5,University of the Incarnate Word,29.470289,-98.472252,"4301 Broadway St, San Antonio, TX 78209"
6,Texas A&M University-San Antonio,29.312670,-98.524811,"One University Way, San Antonio, TX 78224"
7,Texas State University,29.889000,-97.934547,"601 University Dr, San Marcos, TX 78666"